<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" 
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KeyboardGPT"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31"
        android:multiArch="true">

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.KeyboardGPT">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".external.DialogActivity"
            android:theme="@style/Theme.KeyboardGPT.Translucent"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:exported="true">
            <intent-filter>
                <action android:name="tn.eluea.kgpt.OVERLAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".external.WebSearchActivity"
            android:theme="@style/Theme.KeyboardGPT.WebSearch"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:exported="false" />

        <activity
            android:name=".ui.lab.LabActivity"
            android:theme="@style/Theme.KeyboardGPT"
            android:exported="false" />

        <service
            android:name=".external.InternetService"
            android:exported="true">
            <intent-filter>
                <action android:name="tn.eluea.kgpt.INTERNET_SERVICE" />
            </intent-filter>
        </service>

        <provider
            android:name=".provider.ConfigProvider"
            android:authorities="tn.eluea.kgpt.provider"
            android:exported="true"
            android:grantUriPermissions="true" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Integrate Generative AI like ChatGPT in keyboard." />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        <meta-data
            android:name="xposedscope"
            android:value="@array/xposedscope" />
    </application>

</manifest>